<html>
    <head>
        {{ encore_entry_link_tags('app') }}
        <meta charset="UTF-8">

        {% block stylesheets %}
        <!-- CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

        {% endblock %}
        
        {% block javascripts %}
        <!-- JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        {% endblock %}

        <title>{% block title %}SlackAIR{% endblock %}</title>

    </head>
    <body>

        <div class="content-box">
            <div style="height:3em;">            
                <button class="user_menu" href="/static"><i class="fas fa-user"></i></button>
            </div>
            <div class="left-menu" style="margin-top:1em;">
                <div class="partial">
                    <li>+</li>
                    <li>TA</li>
                    <li>TA</li>
                    <li>TA</li>
                    <li>TA</li>
                    -----
                    <li>+</li>
                    <li>TA</li>
                    <li>TA</li>
                    <li>TA</li>
                </div>
                <div id="chat">
                    <div class="title">
                        <h2>Nom du chat</h2>
                        <i>10 membres</i>
                        <div    class="chat_menu">
                            <a >
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </a>
                            <a>
                                <i class="fas fa-thumbtack"></i>
                            </a>
                            <a>
                                <i class="fas fa-sign-out-alt"></i>
                            </a>
                            <a>
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <div id="messages">
                        <div class="msg">
                            <b>Thomas : </b><i>11:45</i><br/>Je vais bien</br></br>
                        </div>
                        <div class="msg">
                            <b>Thomas : </b><i>11:45</i><br/>Je vais bien</br></br>
                        </div>
                    </div>
                    <div    class="send_menu">
                        
                        <div class="form-group">
                            <label for="message">Message:</label> <input type="text" id="message">
                        </div>
                        <button type="button" id="sendBtn">Send</button>
                    </div>
                </div>
                <div id="users">
                        <h4>Membres du groupe</h4>
                        <div class="user" >
                            <p style="background-color:#00ff00;"></p> Aminata Corréa
                        </div>
                        <div class="user">
                            <p style="background-color:#ff0000;"></p> Thomas Vathonne
                        </div>
                        <div class="user">
                            <p></p> Sébastien Zonchello
                        </div>
                </div>

            </div>
        </div>
    </body>
</html>