
.title{
    display:flex;
}
h4{
    font-size:1.25rem;
}

.title > i{
    margin-top:15px;
}

.title>a{
    margin : 1% 0 1% 0;
    padding-right: 2.75%;
    padding-left: 2.75%;
}

li:hover{
    background-color:rgba(250,120,0,0.25);
}
.left-menu {
    display: flex;
    height:30em;
}

.left-menu > .partial {
    padding-right: 1%;
    padding-left: 1%;
    position: sticky;
    top: 105px;
}

#chat{
    border: solid black 1px;
    display:block;
    height:40em;
    width:75em;
}

.msg{
    margin-left:10px;
}

#users{
    display:block;
    margin-left: 10px;
}

#chat>  #messages   {
    height: 35em;
}
.send_menu{
    display:inline-flex;
}
    
.user > *{
    display:inline-flex;
    text-align: center;
}

.user > p {
    margin: 0   0   0   0;
    height:15px;
    width:15px;
    padding-top:2.5px;
    border:solid black 1px;
    border-radius:  50px;
}
li{
    display:block; 
    height:35px;
    width:35px;
    margin-bottom:15px;
    padding-top:2.5px;
    border:solid black 1px;
    border-radius:  50px;
    text-align:center;
}

.user_menu{
    border:none;
    background-color : rgba(0,0,0,0);
    margin:0.5em 0.5em 0.5em 0.5em;
    height:3em;
    width:3em;
}