.password-div {
    height: 90%;
    background: linear-gradient(#ebebeb, #ffffff);;
    background-size:cover;
    position:relative;
}
  
.password-div form {
    max-width: max-content;
    width:80%;
    background-color:#ffffff;
    padding:40px;
    border-radius:4px;
    transform:translate(-50%, -50%);
    position:absolute;
    top:50%;
    left:50%;
    color:black;
    box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

.password-div form .form-control {
    background:none;
    border:none;
    border-bottom:1px solid #434a52;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
}

form p {
    text-align: center;
}

form .update-btn-group{
    text-align: center;
}

form .change-button{
    background: #000080;
    color: white;
}

form .change-button:hover, form .change-button:active{
    background: #214a80;
    outline: none;
}