<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <!-- CSS -->
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        
        <!-- JS -->
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <title>{% block title %}SlackAIR{% endblock %}</title>
    
    </head>

    <body>
        {% block body %}{% endblock %}
    </body>

</html>
